<% provide(:title, "Contact") %>
<div class="contact-us">
<section class="jumbotron jumbotron-fluid contact-jumbotron jumbotron-gradient">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-12">
        <h1 class="homepage-text shadow-underscore jumbo-maintext title-large" style= "color:white">Contact Us</h1>
        <h3 class ="homepage-text subtitle-large pt-3 pb-3" style= "color:white">We love hearing from our users! Contact us
          anytime and we will get back to you as soon as possible.</h3>
      </div>
    </div>
  </div>
<div class="container" id= "contact-form-scroll">
  <div class="row">
    <div class="col-12">
      <div class="form-block">
        <%= form_for(:contact, url: contact_path) do |f| %>
          <div class="text-block pb-3 form-color">
            Please fill out the form below with how we can help you today and a support specialist will contact you shorty. Thank you!
          </div>
          <%= f.label :contact_name, class: 'field-label emphasis form-color' do %>
            <span class = 'field-label emphasis'> Name </span><br>
          <% end %><br>
          <%= f.text_field :contact_name, class: 'form-control form-control-mobile', placeholder: "Name" %><br>
          <%= f.label :contact_email, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis form-color''> Email </span><br>
          <% end %><br>
          <%= f.email_field :contact_email, class: 'form-control form-control-mobile', placeholder: "Email" %><br>
          <%= f.label :contact_how, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis form-color''> How did you hear about Appeal My Ticket? </span><br>
          <% end %><br>
          <%= f.text_area :contact_how, class: 'form-control text-area-mobile', placeholder: "Did you hear about us from friends, ads, or an email campaign?"  %><br>
          <%= f.label :contact_help, class: 'field-label emphasis contact-form-item-mobile' do %>
            <span class = 'field-label emphasis form-color''> How can we help you?</span><br>
          <% end %><br>
          <%= f.text_area :contact_help, class: 'form-control text-area-mobile', placeholder: "Please explain and we will get back to you as quickly as possible."  %><br>
          <%= f.submit "Submit", class: "btn btn-light rounded-button" %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>