<% provide(:title, "Appeal A Ticket") %>
<div class="contact-us">
    <section class = "jumbotron-gradient pt-5">
        <div class="container" id= "contact-form-scroll">
        <% states = us_states %>
            <h1 class = "form-color title-mobile">Fill out the form below and our team will get to work</h1>
            <div class="row">
                <div class="col-12 col-lg-8 pb-3">
                    <div class="form-block">
                        <%= form_for(:ticket_appeal, url: ticket_appeal_form_path) do |f| %>
                        <%= f.label :name, class: 'form-color field-label emphasis contact-form-item-mobile description-mobile' do %>
                            <span class = 'field-label emphasis'> *Full Name </span><br>
                        <% end %><br>
                        <%= f.text_field :name, class: 'form-control form-control-mobile description-mobile', placeholder: "Full Name" %><br>
                        <%= f.label :email, class: 'form-color field-label emphasis contact-form-item-mobile description-mobile' do %>
                            <span class = 'field-label emphasis description-mobile'> *Email </span><br>
                        <% end %><br>
                        <%= f.email_field :email, class: 'form-control form-control-mobile description-mobile', placeholder: "Email" %><br>
                        <div class="field">
                        <%= f.label :plate_number, class: 'form-color field-label emphasis contact-form-item-mobile description-mobile' do %>
                            <span class = 'field-label emphasis description-mobile'> *License Plate Number </span><br>
                        <% end %><br>
                        <%= f.text_field :plate_number, class: 'form-control form-control-mobile description-mobile', placeholder: "License Plate Number" %><br>
                        <%= f.label :plate_state, class: 'form-color field-label emphasis contact-form-item-mobile' do %>
                            <span class = 'field-label emphasis description-mobile'> *License Plate State </span><br>
                        <% end %><br>
                        <%= select_tag :plate_state, options_for_select(states), class: "form-control description-mobile" %><br>
                        <%= f.label :ticket_number, class: 'form-color field-label emphasis contact-form-item-mobile description-mobile' do %>
                            <span class = 'field-label emphasis description-mobile'> *Ticket Number </span><br>
                        <% end %><br>
                        <%= f.text_field :ticket_number, class: 'form-control form-control-mobile description-mobile', placeholder: "Ticket Number", required: true %><br>
                    
                        <%= f.submit "Submit", class: "btn btn-light rounded-button description-mobile" %><br>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>