<% provide(:title, "Ticket Audits - Admin Only") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid jumbotron-mobile jumbotron-gradient">
          <div class="container">
            <table>
                <tr>
                    <th class = "pr-5 form-color">Name</th>
                    <th class = "pr-5 form-color">Email</th>
                    <th class = "pr-5 form-color">Additional Info</th>
                    <th class = "pr-5 form-color">Submitted At</th>
                    <th class = "pr-5 form-color">Full Complaint </th>
                </tr>
                <% @ticket_complaints.each do |complaint| %>
                    <tr>
                        <td class = "pr-5 pb-3 form-color"><%= complaint.name %></td>
                        <td class = "pr-5 pb-3 form-color"><%= complaint.email %></td>
                        <td class = "pr-5 pb-3 form-color"><%= complaint.additional_complaint_information %></td>
                        <td class = "pr-5 pb-3 form-color"><%= complaint.created_at %></td>
                        <td class = "pr-5 pb-3 form-color"><%= link_to "Here", ticket_audit_path(complaint) %></td>
                    </tr>
                <% end %>
            </table>
          </div>
        </section>
    </div>
</div>
